.env
.env.*
.git
coverage
data
dist
node_modules
test
*.7z
*.3ds
*.aac
*.avi
*.bin
*.bmp
*.bps
*.bz2
*.carc
*.cia
*.dat
*.dll
*.dsv
*.dylib
*.exe
*.flac
*.gif
*.gb
*.gba
*.gbc
*.gz
*.ips
*.ips32
*.ico
*.jks
*.jpeg
*.jpg
*.kdbx
*.key
*.keys
*.keystore
*.narc
*.ncgr
*.nclr
*.ncer
*.nsbca
*.nsbmd
*.nsbta
*.nsbtp
*.nsbtx
*.nds
*.nsp
*.m4a
*.mov
*.mp3
*.mp4
*.oga
*.ogg
*.ogv
*.otf
*.p12
*.pem
*.pfx
*.pkcs8
*.png
*.ppf
*.rar
*.rom
*.sav
*.sdat
*.so
*.srl
*.svg
*.tar
*.tgz
*.ttf
*.ups
*.vcdiff
*.wasm
*.wav
*.webm
*.webp
*.woff
*.woff2
*.xci
*.xdelta
*.xdelta3
*.xz
*.zip
*.zst
id_dsa
id_ecdsa
id_ed25519
id_rsa
