.env
.env.*
!.env.example
coverage/
data/
dist/
node_modules/
*.log
*.tsbuildinfo
.DS_Store
.cache/
*.7z
*.3ds
*.bps
*.bz2
*.carc
*.cia
*.dsv
*.gb
*.gba
*.gbc
*.gz
*.ips
*.ips32
*.jks
*.kdbx
*.key
*.keys
*.keystore
*.narc
*.nds
*.nsp
*.p12
*.pem
*.pfx
*.pkcs8
*.ppf
*.rar
*.rom
*.sav
*.sdat
*.srl
*.tar
*.tgz
*.ups
*.vcdiff
*.xci
*.xdelta
*.xdelta3
*.xz
*.zip
*.zst
id_dsa
id_ecdsa
id_ed25519
id_rsa
